.footer-1 {
  padding-top: 3.75rem;
}

.question-style-background:nth-child(even) {
  background: var(--background-4);
}

.question-style-background {
  padding: 2.5rem 0;
}

.questions {
  margin-bottom: 7.5rem;
}

.questions h1 {
  margin-top: 7.5rem;
  margin-bottom: 3.75rem;
  font-weight: 600;
}

.question-title {
  font-weight: 600;
  margin-bottom: 0.75rem;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.question-title::before {
  content: "";
  display: inline-block;
  width: 0.75rem;
  height: 0.5rem;
  margin-right: 0.5rem;
  margin-bottom: 2px;
  background: var(--background-1);
  transition: 0.4s;
}

.question-title.active-list-title::before {
  transform: rotate(90deg);
}

.question-content {
  font-weight: 500;
  max-width: 75rem;
  line-height: 1.5;
}

@media (max-width: 37.5rem) {
  .questions h1 {
    font-size: var(--size-7);
  }

  .questions {
    margin-bottom: 3.75rem;
  }

  .question-title::before {
    display: none;
  }
}

/* styles with JavaScript */

.question-content {
  display: none;
  transition: 0.3s;
}

@keyframes show-accordion {
  from {
    opacity: 0;
    transform: translate3d(0, -40px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.question-content.active-list {
  display: block;
  animation: show-accordion 0.8s forwards;
}

/*form*/

.form-contato {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.25rem 3.75rem;
  margin-bottom: 7.5rem;
}

.column-2 {
  grid-column: 1 / -1;
}

.contato h2 {
  font-weight: 600;
  line-height: 1.125;
  margin-bottom: 7.5rem;
  max-width: 48.75rem;
}

.form-contato label {
  display: block;
  margin-bottom: 0.5rem;
}

.form-contato input,
textarea {
  width: 100%;
  padding: 1rem 1.25rem;
  box-sizing: border-box;
  font-size: 1.125rem;
  color: var(--color-3);
  border-radius: 5px;
  border: 2px solid var(--background-1);
  background: var(--background-4);
}

.form-contato input:focus,
.form-contato textarea:focus {
  outline: none;
  background: var(--color-1);
}

.button button {
  font-size: var(--size-4);
  color: var(--color-1);
  font-family: var(-family-2);
  font-weight: 600;
  padding: 1rem 5rem;
  border-radius: 5px;
  background: linear-gradient(180deg, #023e8a 0%, #0077b6 100%);
  border: 2px solid transparent;
  cursor: pointer;
  max-width: max-content;
  transition: 0.2s;
}

.button button:hover,
.button button:focus {
  border-color: var(--color-3);
  color: var(--color-3);
}

@media (max-width: 37.5rem) {
  .form-contato {
    grid-template-columns: 1fr;
    gap: 1.25rem;
  }

  .email {
    grid-column: 1 / -1;
  }

  .contato h2 {
    font-size: var(--size-7);
    margin-bottom: 3.75rem;
  }
}
