/* tirando o link que leva até a home pois ele só sera
ativado quando iniciar o menu mobile */
.link-home-responsive {
  display: none;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 2.5rem 1.25rem;
}

.header-nav {
  display: flex;
  justify-content: center;
  gap: 2.5rem;
  flex-wrap: wrap;
}

.header-nav li a {
  font-weight: 600;
  padding: 1rem;
}

.header-content li a::after {
  width: 0;
  height: 2px;
  display: block;
  content: "";
  background-color: var(--background-5);
  transition: 0.4s;
}

.header-content li a:hover::after {
  width: 100%;
}

@media (max-width: 50rem) {
  .header-content {
    flex-direction: column;
  }

  .header-nav {
    gap: 1.25rem;
    margin-top: 2.5rem;
  }

  .header-nav li a {
    background-color: var(--background-2);
    border-radius: 0.25rem;
    font-size: 1.25rem;
  }
}

/* estilos específicos para o header da home
por conta da maior navegação da home
teve que ser feito ajustes específicos para o header
da home */
@media (min-width: 50.0625rem) and (max-width: 67.5rem) {
  .header-content-specif {
    justify-content: space-between;
    flex-direction: column;
  }

  .header-content-specif .header-img {
    margin-bottom: 2.5rem;
  }

  .header-content-specif .header-nav li {
    background-color: var(--background-8);
    border-radius: 0.25rem;
  }
}
