.open-menu-mobile {
  display: none;
}

@media (max-width: 50rem) {
  /* ajustes do header para começar os etilos do menu responsivo para smartphones */
  .header-home {
    position: relative;
  }

  .header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 2.5rem 1.25rem;
    flex-direction: row;
    position: relative;
    padding-bottom: 7.5rem;
  }

  .header-img {
    order: 1;
  }

  .header-nav {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 3.75rem;
    gap: 0.5rem;
    background-color: var(--background-2);
    border-radius: 5px;
    padding: 0.5rem;
  }

  .header-nav li::before {
    content: "";
    display: inline-block;
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: var(--background-1);
    margin-left: 0.5rem;
    margin-bottom: 3px;
  }

  .header-nav li a {
    background-color: var(--background-2);
    border-radius: 0.25rem;
    font-size: 1.25rem;
  }

  .header-nav li a {
    background-color: transparent;
    font-size: var(--size-4);
  }

  /* ajustando os estilos do dropdown paro o menu mobile */
  .nav-intern-revenues {
    position: static;
    padding: 0;
  }

  .nav-intern-revenues li {
    background-color: var(--background-7) !important;
    padding: 8px 0;
  }

  .nav-intern-revenues li:first-child {
    border-radius: 5px 5px 0 0;
  }

  .nav-intern-revenues li:last-child {
    border-radius: 0 0 5px 5px;
  }

  .nav-intern-revenues::before {
    content: "";
    display: block;
    position: absolute;
    top: 3.6875rem;
    left: 2rem;
    width: 0px;
    height: 0px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid var(--background-7);
  }
  /* finaliza os ajustes do dropdown para o menu mobile */

  /* btn mobile */
  .open-menu-mobile {
    font-weight: bold;
    text-transform: uppercase;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    background-color: var(--background-2);
    color: var(--color-1);
    border: none;
    letter-spacing: 0.1rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    z-index: 99999;
    cursor: pointer;
  }

  /* estilos do ícone do menu-mobile */
  .open-menu-mobile::before {
    content: "";
    display: inline-block;
    height: 0.25rem;
    width: 2rem;
    background: var(--background-5);
    box-shadow: 0 7px var(--background-5), 0 -7px var(--background-5);
    transition: transform 0.3s;
  }

  /* começa os estilos e interação com o JavaScript */
  .header-nav {
    display: none;
    transition: 0.3s;
  }

  @keyframes show-menu {
    from {
      opacity: 0;
      transform: translate3d(-40px, 0, 0);
    }
    to {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }

  [data-menu].active-menu .header-nav {
    display: initial;
    animation: show-menu 0.3s forwards;
  }

  [data-menu].active-menu .open-menu-mobile::before {
    transform: rotate(90deg);
  }

  [data-menu].active-menu .open-menu-mobile {
    background-color: var(--background-7);
  }
}

@media (max-width: 37.5rem) {
  /* substituindo a imagem que leve até a morre
  por um link que ficara dentro do menu mobile
  tornado-o mais responsivo */
  .link-home-responsive {
    display: initial;
  }

  .header-img {
    display: none;
  }
}
